{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}

<div class="reset-container">
    <div class="wrapper_reset">
        <div class="form-header">
            <div class="titles">
                <div class="title-reset">Nouveau</div>
            </div>
        </div>
        {{ form_start(passForm) }}
        <div class="input-box">
            {{ form_row(passForm.password, {'attr': {'class': 'input-field'}}) }}
        </div>
        <div class="input-box">
            <button class="btn-submit">Enregistrer</button>
        </div>
        {{ form_end(passForm) }}
    </div>
</div>


{% endblock %}
