{% extends 'base.html.twig' %}

{% block title %}Demande de reinitialisation mot de passe{% endblock %}

{% block body %}

    <main>
        <div class="reset-container">
            <h1>Demande de reinitialisation mot de passe</h1>
            {{ form_start(requestPassForm) }}
            {{ form_row(requestPassForm.email, {'attr': {'class': 'form-control'}}) }}
                <button type="submit"  class="btn">Envoye</button>
            {{ form_end(requestPassForm) }}
        </div>
    </main>

    

{% endblock %}
