{% extends 'base.html.twig' %}

{% block title %}home{% endblock %}

{% block body %}

<section class="home" id="home">
     <div class="swiper-container home-slider">
          <div class="swiper-wrapper wrapper">
               <div class="swiper-slide slider">
                    <div class="content">
                         <a href="" class="btn-silde">Commander</a>
                    </div>
                    <div class="image">
                         <img src="{{ asset('assets/images/banner-noel.webp') }}">
                    </div>  
               </div>

               <div class="swiper-slide slider">
                    <div class="content">
                         <a href="" class="btn-silde">Commander</a>
                    </div>
                    <div class="image">
                         <img src="{{ asset('assets/images/banner-noel2.webp') }}">
                    </div>  
               </div>

               <div class="swiper-slide slider">
                    <div class="content">
                         <a href="" class="btn-silde">Commander</a>
                    </div>
                    <div class="image">
                         <img src="{{ asset('assets/images/banner-noel3.webp') }}">
                    </div>  
               </div>
          </div>
          <div class="swiper-pagination"></div>
     </div>
</section>



{% endblock %}
