.panier_container {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 12%;
    justify-content: center;
    background-color: #feefef;
    gap: 20px; /* Espace entre les divs */
}

.user-info-container, .address-transporteur-container {
    width: 48%; /* Occupe 48% de la largeur, pour les aligner côte à côte */
    background-color: #fff7f7;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-row {
    margin-bottom: 15px;
}

.form-row input, .form-row select {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.panier_produit_container {
    width: 100%;
    background-color: #fff7f7;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Ajout d'un espace entre les sections */
}

.panier_produit_container table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.panier_produit_container table th,
.panier_produit_container table td {
    padding: 12px;
    text-align: center;
}

.panier_produit_container table th {
    background-color: #fd2975ff;
    color: #fff;
    font-weight: bold;
}

.panier_produit_container table td {
    border: 1px solid #f2f2f2;
}

.product-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.remove-btn {
    background-color: #fd2975ff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.remove-btn:hover {
    background-color: #fd2975ff;
}

input[type="number"] {
    width: 50px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="number"]:focus {
    outline: none;
    border-color: #fd2975ff;
}

.checkout-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    align-items: center;
}

.total-container {
    font-size: 18px;
    margin-right: 20px;
}

.total-price {
    font-weight: bold;
    color: #fd2975ff;
    margin-left: 10px;
}

.checkout-btn {
    padding: 10px 20px;
    background-color: #fd2975ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.checkout-btn:hover {
    background-color: #fd2975ff;
}
