footer{
    width: 100%;
    height: 49vh;
    background-color: #feefef;
}
.hero_footer{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #FFA8C5;
    color:#810090;
    padding: 4% 0;
}
.address img{
    width: 100%;
}

h1{
    font-size: 20px;
}

.address{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.address img{
    width: 150px;
    height: 90px;
}
.info{
    display: flex;
    align-items: center;
    gap:10px;
}

.info h3{
    font-size: 16x;
    font-weight: 300;
}

.information{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap:20px;
}

.information a {
    color:#fd2975ff;
    transition: .3s;
}
.information a:hover{
    color:#feefef;
    cursor: pointer;
}
.icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.icons i{
    transition: all .3s;
    cursor: pointer;
}

.icons i:hover{
color:#feefef
}



.last-section {
    display: flex;
    align-items: center; /* Aligne les éléments verticalement */
    justify-content: space-between; /* Espacement égal entre les sections */
    padding: 2% 5%;
    color: #feefef;
    background-color: #fd2975ff;
}

.last-section h3 {
    font-weight: 500; /* Correction pour une propriété valide */
    margin: 0;
    flex: 1; /* Permet au copyright de s'étendre si nécessaire */
    text-align: left; /* Aligne le texte à gauche */
}

.social-icons {
    display: flex;
    justify-content: center; /* Centre les icônes dans leur conteneur */
    align-items: center;
    gap: 15px; /* Espacement entre les icônes */
    flex: 1; /* Donne un espace égal aux icônes au centre */
}

.social-icons i {
    font-size: 20px; /* Taille des icônes */
    transition: all 0.3s;
    cursor: pointer;
    color: #feefef;
}

.social-icons i:hover {
    color: #fd2975ff;
}

.payment-icons {
    display: flex;
    justify-content: flex-end; /* Aligne les images à droite */
    align-items: center;
    gap: 10px; 
    flex: 1; 
}

