/* Formulaire de connexion */
.login-container {
    display: flex;
    justify-content: center; /* Centrer le formulaire horizontalement */
    align-items: center; /* Centrer verticalement */
    height: 80vh; /* Utiliser toute la hauteur de la fenêtre */
    padding-top: 22rem; /* Ajouter un peu d'espace au-dessus du formulaire */
}

.login-card {
    background-color: #fff;
    box-shadow: var(--box-shadow); /* Ombre légère pour faire ressortir le formulaire */
    border-radius: 1rem;
    padding: 2rem;
    width: 35rem;
    max-width: 100%;
    text-align: center;
}

.login-card h2 {
    font-size: 2rem;
    color: var(--bleu);
    margin-bottom: 2rem;
}

.login-form .form-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

.login-form .form-group label {
    display: block;
    font-size: 1.4rem;
    color: var(--bleu);
    margin-bottom: 0.5rem;
}

.login-form .form-group input {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    outline: none;
    color: var(--bleu);
}

.login-form .form-group input:focus {
    border-color: var(--bleu); /* Changer la couleur du bord au focus */
}

.submit-btn {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    background-color: var(--bleu);
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: var(--beige); /* Changer de couleur au survol */
}

.links {
    margin-top: 2rem;
    font-size: 1.4rem;
}

.links a {
    color: var(--bleu);
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

.forgot-password {
    font-size: 1.4rem;
    color: var(--bleu);
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}
