{# templates/emails/signup.html.twig #}
<h1>Welcome {{ user.username }}</h1>
<h1>Activation cde votre compte</h1>
<p>Pour activer votre compte
    <a href="{{ absolute_url(path('verify_user', {token:token} )) }}">Activate your account</a>
</p>

<p>Merci</p>
{{ token }}